/* MAP PAGE */
body {    
    color: white !important;
}

#logoTeam {
    position: absolute;
    width: 150px;
    top: 0px;
    left: 0px;
    padding: 0.8em;
    transition: transform 1.3s;
}

#logoTeam:hover {
    transform: scale(1.1);
    box-shadow: none;
}


#map-container {
    z-index: -1;
    position: static;
    padding-top: 2em;
    display: inline-block;
    text-align: center;
    width: 100%;
}

#map {
    display: inline-block;
    width: 85%;
    height: 85vh;
}

#scenario, #years, #months {
    text-align: center;
    width: 15%;
    margin: 1em;
}
