/* PROJECT PAGE STYLE */

#logoTeam {
    position: absolute;
    width: 150px;
    top: 0px;
    left: 0px;
    padding: 0.8em;
    transition: transform 1.3s;
}

#logoTeam:hover {
    transform: scale(1.1);
    box-shadow: none;
}

.project-container {
    color: black;
    margin: 6em 9em 0em 9em;
    font-size: 1.6vh;
}

.work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project {
    width: 55%;
}

.video {
    padding: 1em;
    width: 40%;
}